:root {
    --clr-background: linear-gradient(to right bottom,
    #000000,
    #080808,
    #0f0f0f,
    #151515,
    #191919,
    #1c1c1c,
    #1f1f20,
    #222223,
    #242426,
    #262629,
    #29292d,
    #2b2b30);
    color: rgb(209, 209, 209);

    --clr-button: #5385e5;
    --clr-neon: hsl(213, 79%, 53%);
    --clr-bg: hsl(254, 21%, 16%);
    --clr-textshadow: 0 0 0.1em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    --clr-boxshadow: inset 0 0 0.5em 0 var(--clr-neon), 
    0  0 0.5em 0 var(--clr-neon);
    font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
    background: var(--clr-background);
    padding-left: 10%;
    padding-right: 10%;
    
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .1em;
  align-items: center;
  
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 13;
  text-align: center;
  
}
.item2 {
  grid-column-start:8;
  grid-column-end: 8;
  
  
}
.item3 {
  grid-column-start: 9;
  grid-column-end: 9;
  
  
}
.item4 {
  grid-column-start: 10;
  grid-column-end: 10;
  
  
  
}
.item5 {
  grid-column-start: 11;
  grid-column-end: 13;
  
  
  
}
h1{
  font-size: 4em;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-neon);
  text-shadow: var(--clr-textshadow);
}




p{
  background-color: #000000;
  font-weight: 900;
  opacity: 90%;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: var(--clr-boxshadow);
  padding: 10px;
  
}

/* .devider{
font-size: 1.2em;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  padding: 0.25em 1em;
  border-radius: 0.25em;
}
.devider{
  width:100%;
  height: 200px;
} */

.section1 {
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: var(--clr-boxshadow);
  background-image:var(--clr-background),url(img/neptune.png);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em 1em 1em;
}

.item6{
  grid-column-start: 1;
  grid-column-end:5;
  
 
}



.item8{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  
}

.item9{
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
}

footer{
  display:flex;
  justify-content: center;
 
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: -2;
  margin-left:-8px;
  margin-right:-8px;
  margin-bottom:-2px;

}
.section2{
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: var(--clr-boxshadow);
  background-image:var(--clr-background),url(img/nep.png);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em 1em 1em;
  margin-top: .5em;
}
.section3{
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: var(--clr-boxshadow);
  background-image:var(--clr-background),url(img/PIA01492.jpg);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em 1em 1em;
  margin-top: .5em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  font-size: 18px;
}

main {
  grid-row: 5 / span 1;
}

/* button { button alternative?
  border:0;
  padding:0.3em 0.3em;
  background-image: var(--clr-button);
  background-size: 400%;
  background-position: left;
  border-radius: 4px;
  color: rgb(150, 150, 150);
  margin:2px;
  transition: background-position 1s;
}

button:hover,
button:focus {
  background-position: right;
} */


button {
  background: var(--clr-bg);
  font-size: 1em;
  display:inline-block;
  text-decoration: none;
  cursor:pointer;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin: 8px;

  text-shadow: var(--clr-textshadow);
  box-shadow: var(--clr-boxshadow);

  position: relative;

}

button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em .5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}



.item6:hover{
  -webkit-animation: flickerAnimation .5s;
  animation-iteration-count: 1.8;
  animation-delay: .5s;
}


@keyframes flickerAnimation {
  0%   { opacity:.9; }
  20%  { opacity:.1; }
  30%  { opacity:.3; }
  50%  { opacity:.3; }
  70%  { opacity:.5; }
  100% { opacity:.1; }
}

.item6:focus{
  -webkit-animation: flickerAnimation .5s infinite;
  animation-iteration-count: 3;
  animation-delay: 9s;
}


@keyframes flickerAnimation {
  0%   { opacity:.5; }
  20%  { opacity:.2; }
  30%  { opacity:.1; }
  50% { opacity:.3; }
  70% { opacity:.1; }
  100% { opacity:.4; }
}


  h1:hover,
  h1:focus{
    -webkit-animation: flickerAnimation .5s infinite;
    animation-iteration-count: 30;
    animation-delay: 0s;
  }
  
  
  @keyframes flickerAnimation {
    0%   { opacity:.5; }
    20%  { opacity:.2; }
    30%  { opacity:.1; }
    50% { opacity:.3; }
    70% { opacity:.1; }
    100% { opacity:.2; }
  }
 

    button:hover,
    button:focus{
      -webkit-animation: flickerAnimation .5s;
      animation-iteration-count: 3;
      animation-delay: .2s;
    }
    
    
    @keyframes flickerAnimation {
      0%   { opacity:.1; }
      20%  { opacity:.2; }
      30%  { opacity:.5; }
      50% { opacity:.3; }
      70% { opacity:.1; }
      100% { opacity:0; }
    }
    
    .item8:hover{
      -webkit-animation: flickerAnimation .5s;
      animation-iteration-count: 1.4;
      animation-delay: .5s;
    }
    
    
    @keyframes flickerAnimation {
      0%   { opacity:.9; }
      20%  { opacity:.1; }
      30%  { opacity:.3; }
      50% { opacity:.3; }
      70% { opacity:.5; }
      100% { opacity:.1; }
    }

    

    button:hover,
button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

button:hover::before,
button:focus::before{
  opacity: 1;
}
button:hover::after,
button:focus::after {
  opacity: 1;
}
